# nodejs
node_modules

# nextjs
out
.next
public

# vscode
.vscode

# pc
.DS_Store

#config
next.config.js
sst.config.js
playwright.config.js
sentry.server.config.js
sentry.client.config.js
sentry.edge.config.js
scripts/run.mjs

# sst
.open-next
.sst