# nodejs
node_modules

# nextjs
out
.next
public

# vscode
.vscode

# pc
.DS_Store

# serverless
.serverless
.serverless_nextjs

# custom server
server/

#config
next.config.js
sst.config.js
playwright.config.js

# sst
.open-next
.sst