

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# playwright
/playwright-report

# partytown
/public/~partytown/

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# env
.env
scripts/env/.env.development
scripts/env/.env.production

# cli
dist/

# .serverless
.serverless
.serverless_nextjs

# sst
.open-next
.sst

# Sentry
.sentryclirc
sentry.properties

# serivce worker
/public/sw.js
/public/sw.js.map
/public/workbox-*.js
/public/workbox-*.js.map
/public/fallback-*.js

# db
data/**/*
prisma/migrations/**/*