# nodejs
node_modules

# nextjs
out
.next
public

# vscode
.vscode

# partytown
/public/~partytown/

# pc
.DS_Store

# serverless
.serverless
.serverless_nextjs

# sst
.open-next
.sst

# scripts
dist/**/*

# docker
data/**/*